WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=
META_APP_SECRET=
WHATSAPP_API_VERSION=v23.0
SABKA_DELIVERY_WEBSITE_URL=https://sabkadelivery.in
SUPPORT_WHATSAPP_NUMBER=8011767897
ORDER_TRACKING_API_URL=
ORDER_TRACKING_API_KEY=
PORT=3000
